/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: linear-gradient(315deg, #485461 0%, #28313b 74%);

$mainColor: #fefefe;
$headingColor: #fafafa;

$mainFontSize: 42px;
$mainFont: 'Raleway', Helvetica, sans-serif;
$headingFont: 'Raleway', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 900;
$linkColor: #fefefe;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #0f0f0f;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
